<% 
	var n = '<div style="color:red">say hi!!!</div>';
	var age = 15;
%>

<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome to my ECommerce page</h1>
	<ul>
		<li>Name: Truong Dang Khoa</li>
		<li>ID: 1512261</li>
		<li>Specialized: Software Engineering</li>
		<li>Subject: ECommerce</li>
	</ul>
</body>
</html>